In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df_colesterol = pd.read_csv('./datasets/dataset_colesterol.csv')

In [2]:
df_colesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  1000 non-null   int64
 1   Grupo Sanguíneo     996 non-null    object
 2   Fumante             997 non-null    object
 3   Nível de Atividade  996 non-null    object
 4   Idade               997 non-null    float64
 5   Peso                997 non-null    float64
 6   Altura              997 non-null    float64
 7   Colesterol          1000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 62.6+ KB

In [4]:
df_colesterol.drop(columns=['Id'], axis=1, inplace=True)

In [5]:
# renomear colunas
df_colesterol.columns = [
    'grupo_sanguineo',
    'fumante',
    'nivel_atividade_fisica',
    'idade',
    'peso',
    'altura',
    'nivel_colesterol',
]

In [6]:
# Copiar DF para df EDA
df_colesterol_eda = df_colesterol.copy()

In [7]:
# Copiar DF para df Bucketing
df_colesterol_bucketing = df_colesterol.copy()

## EDA

In [10]:
df_colesterol.head(10)

,grupo_sanguineo,fumante,nivel_atividade_fisica,idade,peso,altura,nivel_colesterol
0,B,Sim,Baixo,33.0,85.1,186.0,199.63
1,A,Não,Moderado,68.0,105.0,184.0,236.98
2,O,Não,Alto,25.0,64.8,180.0,161.79
3,A,Não,Alto,43.0,120.2,167.0,336.24
4,AB,Não,Baixo,79.0,88.5,175.0,226.23
5,B,Não,Baixo,68.0,66.8,170.0,185.31
6,A,Sim,Baixo,60.0,117.3,181.0,289.33
7,O,Sim,Moderado,35.0,86.9,174.0,216.48
8,O,Não,Baixo,62.0,81.3,166.0,235.30
9,B,Sim,Alto,44.0,32.7,165.0,97.79

In [19]:
# Detectar valores nulos
df_colesterol_eda.isna().sum()

grupo_sanguineo           0
fumante                   0
nivel_atividade_fisica    0
idade                     0
peso                      0
altura                    0
nivel_colesterol          0
dtype: int64

In [12]:
# medidas estatisticas
df_colesterol_eda.describe()

            idade        peso      altura  nivel_colesterol
count  997.000000  997.000000  997.000000       1000.000000
mean    49.206620   76.496690  174.889669        199.453260
std     17.476704   21.439132    8.844703         50.625152
min     20.000000   15.400000  160.000000         36.260000
25%     34.000000   61.700000  167.000000        166.345000
50%     49.000000   75.500000  175.000000        199.455000
75%     65.000000   90.200000  183.000000        233.785000
max     79.000000  158.100000  190.000000        372.670000

In [14]:
# Coletar medidas das variaveis categoricas
moda_grupo_sanguineo = df_colesterol_eda['grupo_sanguineo'].mode()
moda_fumante = df_colesterol_eda['fumante'].mode()
moda_nivel_atividade = df_colesterol_eda['nivel_atividade_fisica'].mode()

In [15]:
# Coletar medidas das variaveis numericas
mediana_idade = df_colesterol_eda['idade'].median()
mediana_peso = df_colesterol_eda['peso'].median()
mediana_altura = df_colesterol_eda['altura'].median()

In [18]:
# Imputarm valores ausentes
df_colesterol_eda.fillna(value={'grupo_sanguineo': moda_grupo_sanguineo[0], 'fumante': moda_fumante[0], 'nivel_atividade_fisica': moda_nivel_atividade[0], 'idade': mediana_idade, 'peso': mediana_peso, 'altura': mediana_altura}, inplace=True)